<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>决策支持树</title>
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
       
    </script>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("决策树", "Index", "DSTrees", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("模型管理", "Index", "DSTreeModels")
                    </li>
                </ul>
            </div>
        </div>   
    </nav>   
    <div>
        @RenderBody()
    </div>
</body>
</html>
