<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootbox" version="4.3.0" targetFramework="net452" />
  <package id="bootstrap" version="3.3.7" targetFramework="net452" />
  <package id="Bootstrap.v3.Datetimepicker.CSS" version="4.17.45" targetFramework="net452" />
  <package id="bootstrap-fileinput" version="4.4.2" targetFramework="net452" />
  <package id="bootstrap-select" version="1.12.4" targetFramework="net452" />
  <package id="bootstrap-table.mvc" version="1.1.1" targetFramework="net452" />
  <package id="bootstrapvalidator" version="1.0.0" targetFramework="net452" />
  <package id="d3" version="4.9.1" targetFramework="net452" />
  <package id="DynamicInterop" version="0.7.4" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EntityFramework.zh-Hans" version="6.1.3" targetFramework="net452" />
  <package id="jQuery" version="3.1.1" targetFramework="net452" />
  <package id="Jquery.ZTree" version="3.5.19" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc.zh-Hans" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor.zh-Hans" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages.zh-Hans" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Moment.js" version="2.18.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="x-editable" version="1.5.3" targetFramework="net452" />
</packages>